* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #b3a5a2, #f2efee);
}

.selectEstilos {
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #736562;
}

@media (max-width: 768px) {
  .selectEstilos {
    font-size: 14px;
    padding: 14px;
  }
}
