body {
  background: linear-gradient(to bottom, #b3a5a2, #f2efee);
}

.selectEstilos {
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #736562;
}

@media (max-width: 768px) {
  .selectEstilos {
    font-size: 14px;
    padding: 14px;
  }
}

/* --martini-50: #f9f7f7;
--martini-100: #f2efee;
--martini-200: #e7e2e1;
--martini-300: #d5cecc;
--martini-400: #b3a5a2;
--martini-500: #a39390;
--martini-600: #8b7b77;
--martini-700: #736562;
--martini-800: #615553;
--martini-900: #534b49;
--martini-950: #2b2524; */
