.boton-carrito {
  position: relative;
  display: inline-block;
}
.img-carrito {
  display: block;
}
.texto-carrito {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}
