/* 
.cont-contactos{
    background: rgb(185, 153, 27);
    position: relative;
}
.contacto{
    color: rgb(59, 59, 129);
}
.btn-offcanvas{
    background-color: rgb(59, 59, 129);
    color: azure;
    letter-spacing: 5px;
    border-style: none;
    height: 38px;
    border-radius: 5px;
    align-items: center;
}

.cuerpo-ofc{
    background-color: rgb(229, 101, 9);
    color: azure;
} */