.foot-cont {
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #534b49;
  background: linear-gradient(to bottom, #d5cecc, #8b7b77);
}

.foot-redes {
  position: relative;
}

@media (max-width: 992px) {
  .foot-logo {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .foot-cont {
    display: flex;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .foot-info {
    display: none;
  }
}
