.barra-nav {
  background: linear-gradient(to bottom, #b3a5a2, #f2efee);
}

.head-nav {
  background: linear-gradient(to bottom, #e7e2e1, #b3a5a2);
}
@media (max-width: 768px) {
  .barra-nav {
    margin-bottom: 2rem;
  }
}

@media (min-width: 576px) {
  .logo-nav {
    width: 150px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .logo-nav {
    margin-left: 2rem;
  }
}
