.head-cont {
  background-color: #cac1f3a1;
  display: none;
  opacity: 0.98;
}
.head-cont-nav {
  background-color: #9986eea1;
  opacity: 0.98;
}

@media (min-width: 768px) {
  .logo-nav {
    width: 180px;
    height: 80px;
  }
}
@media (min-width: 992px) {
  .head-cont {
    display: block;
  }
}
